@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Nunito+Sans:200,300,400,600,700|Quicksand:300,400,500|Satisfy&subset=latin-ext');

body{
    margin: 0;
    padding: 0px;
    
    font-family: 'Nunito Sans', sans-serif;

    font-family: 'Quicksand', sans-serif;

    font-family: 'Dancing Script', cursive;

    font-family: 'Satisfy', cursive;
}

p{
    font-size: 12px;
    text-align: right;
    color: grey;
    font-family: 'Dancing Script';
    padding: 0;
    margin: 0;
}

h3{
    font-size: 16px;
}

h4{
    font-size: 18px;
}

.grid-container{
    display: grid;
    border: 1px solid black;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 300px 420px 300px 420px 300px;
}

.grid-container-header{
    display: grid;
    border: 1px solid red;
    grid-template-columns: 1fr 800px;
    grid-template-rows: 100px 50px 120px 130px;
}

.item{
    border: 1px solid green;
}

.item-1{
    grid-row-start: 1;
    grid-row-end: 3;
}

.item-2{
    grid-row-start: 1;
    grid-row-end: 2;
}

.item-3{
    grid-row-start: 2;
    grid-row-end: 5;
}

.item-4{
    grid-row-start: 3;
    grid-row-end: 5;
}

.header-background{
    height: 100%;
    background-image: url("../images/white-wood-textures_74190-4597.png"), url("../images/first-header-meat.jpg");  
    background-position: top left, top right;
    background-repeat: no-repeat,no-repeat;
    background-size: 50% 100%, 70% 100%;
    position: relative;
}

.navbar {
    float: right;
    padding-left: 0px;
	margin-top: 25px;
    margin-right: 15px;
    list-style: none;
}

.navbar li {
    float: left;
    font-size: 14px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 15px;
    list-style-type: disc;
    color:lightgray;
    border-bottom: 2px solid lightgray;
}

.navbar li a {
    color: #ffffff;
    font-family: 'Quicksand';
    font-weight: 500;
    letter-spacing: 2px;
	text-decoration: none;
}

.change_color a:hover {
	color: darkorange;
}

.figure {
    position: absolute; /* change on relative and try input logo and text !!!!!!!!!!*/
    text-align: center;
    width: 0; 
    height: 0; 
    margin-left: 9%;
    border-width: 115px 80px 30px;
    border-style: solid;
    border-color: #ffffff #ffffff transparent;
    }

.figure-text{
    font-size: 20px;
    text-align: center;
    top:3%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left:11%;
    position: absolute;
    font-family:'Quicksand'; 
    font-weight: 700;
    color: darkorange;

}

.figure-2{
    width: 150px;
    height: 200px;
    text-align: center;
    margin-left:61px;
    transform: skew(27.5deg);
    background: rgb(253, 172, 22);
    opacity: 0.7;
}