@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Martel:300,400,600,700,800,900|Biryani:400,600,700,800,900|Nunito+Sans:200,300,400,600,700|Quicksand:300,400,500|Satisfy&subset=latin-ext');

*, body{
    margin: 0;
    padding: 0;  
    font-family: 'Biryani', sans-serif,cursive;
}

p{
    font-size: 16px;
    text-align: right;
    color: grey;
    font-family: 'Dancing Script';
    padding: 0;
    margin: 0;
    letter-spacing:0;
}

h1{
    font-size: 90px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    color: orange;
    font-family: 'Dancing Script';
    padding: 0;
    margin-bottom:-28px;
    letter-spacing:-2;
}

h2{
    font-size: 46px;
    font-weight: 800;
    color: #000000;
    font-family: 'Biryani';
    padding: 0;
    margin: 0;
}

h3{
    color: #ffffff;
    font-family: 'Quicksand';
    font-weight: 500;
    letter-spacing: 3px;
	font-size: 17px;
}

h4{
    font-size: 18px;
    color: lightgrey;
    font-family: 'Martel';
    margin: 0;
    padding-top: 10px;
}

h5{
    width: 450px;
    font-size: 18px;
    color: lightgrey;
    font-family: 'Martel';
    margin: 0;
    padding-top: 5px;
}

h6{
    font-size: 20px;
    color: lightgrey;
    font-family: 'Nunito Sans';
    margin: 0;
    padding-top: 15px;
}

h7{
    font-size: 24px;
    color: grey;
    font-family: 'Dancing Script';
    margin: 0;
    padding-top: 15px;
}

h8{
    font-size: 15px;
    font-family: 'Biryani';
    font-weight: bold;
    color: white;
}

h9{
    font-size: 24px;
    color: black;
    font-family: 'Dancing Script';
    margin: 0;
    padding-top: 15px;
}
/*-------------- Header start -------------*/

.header{
	width: 100%;
    height: 550px;
    background-image:url("../images/first-header-meat.jpg");  
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
}

img{
    height: 550px;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.navbar{
	width: 750px;
    height: 80px;
	margin-right: 30px;
    float: right;
    -webkit-box-shadow: 0 5.5px 2.5px -6px #ccc;
    -moz-box-shadow: 0 5.5px 2.5px -6px #ccc;
         box-shadow: 0 5.5px 2.5px -6px #ccc;
}

.navbar li{
    width: 125px;
    float: left;
    color: #aaa;
    list-style: none;
}

.navbar li a{
	display: block;
	line-height: 90px;
	text-align: center;
    color: #ffffff;
    font-family: 'Quicksand';
    font-weight: 500;
    letter-spacing: 3px;
	font-size: 17px;
    text-decoration: none;
    list-style: none;
}

#figure {
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 0; 
    height: 0; 
    top: 0;
    margin-left: calc(360px - calc(350px - 6%));
    border-width: 160px 100px 40px;
    border-style: solid;
    border-color: #ffffff #ffffff transparent;
    box-shadow: -1px -20px 20px 0 #ccc; /* Border left */
    box-shadow: -1px -20px 20px 0 #ccc; /* Border right */
}

.text-figure{
    font-size: 28px;
    position: absolute;
    z-index: 1;
    margin-top: 90px;
    margin-left: calc(6% + 35px);
    text-align: center;
    font-family:'Biryani'; 
    font-weight: 700;
    letter-spacing: -2 ;
    color: orange;
}

.header-text-left{
    text-align: left;
    position: absolute;
    z-index: 1;
    margin-top: 220px;
    margin-left: calc(350px - calc(350px - 6%));
}

.button-header{
    position: absolute;
    z-index: 2;
    width: 180px;
    height: 30px;
    margin-top: 470px;
    margin-left: calc(350px - calc(350px - 6%));
    border:2px solid orange;
    padding-top: 10px;
    padding-left: 10px;
}

.button-content-3{
    text-align: center;
    width: 180px;
    height: 30px;
    margin-top:35px;
    margin-bottom:35px;
    padding: 15px;
    padding-top: 20px;
    border:2px solid orange;
}

.button-header a {
    color: #000000;
    display: block;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Quicksand';
    text-align: center; 
    text-decoration: none;
}

.button-content-3 a {
    color: #000000;
    display: block;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Quicksand';
    text-align: center; 
    text-decoration: none;
   }

#figure-2{
    width: 29%;
    height: 290px;
    position: absolute;
    margin-top: 120px;
    margin-left:37%;
    background:orange;
    opacity: 0.6;
}

.figure-text-2{
    position: absolute;
    z-index: 2;
    margin-top: 130px;
    margin-left:calc(39% + 28px);
    font-weight: bold;
}

.clip-mask-figure-2{
    -webkit-clip-path: polygon(0 0, 58% 0, 100% 100%, 40% 100%);
    clip-path: polygon(0 0, 58% 0, 100% 100%, 40% 100%);
}

.clip-mask-background-left{
width: 55%;
-webkit-clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
}

.navbar a:hover {
	color: orange;
}

.button-header a:hover {
	color: orange;
}

.button-content-3 a:hover {
	color: orange;
}

/*-------------- Header end -------------*/

/*-------------- Grid 1 -------------*/
.grid-container-1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding-left: 40px;
    padding-right: 40px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.item a{
    text-decoration: none;
    color: grey;
}


.item a:hover{
    color:orange;
}

.special-nav a{
    font-family: 'Dancing Script';
    text-decoration: none;
    color: white;
}

.special-nav a:hover{
    color: #000000;
}

.special-nav-2 a{
    font-family: 'Dancing Script';
    text-decoration: none;
    color: white;
}

.special-nav-2 a:hover{
    color: orange;
}


.item{
    line-height: 40px;
    font-size: 22px;
    font-weight: bold;
    color: grey;
    padding: .5em;
    text-align: center;
    background: transparent url(http://i46.tinypic.com/21c5h93.png) left center no-repeat;
   /* when width of window will be like smartphone and make all in 1 line
   border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;*/ 
}

.special-nav{
    background: orange;
    text-align: center;
    text-decoration: none;
    font-family: 'Dancing Script';
    color: #ffffff;
    font-size: 38px;
    font-weight: bold;
}

.special-nav-2{
    background: black;
    text-align: center;
    text-decoration: none;
    font-family: 'Dancing Script';
    color: #ffffff;
    font-size: 38px;
    font-weight: bold;
}
/*-------------- Grid 1 -------------*/

/*--------Grid 2-----------*/
.grid-container-2{
        display: grid;
        padding-left: 8%;
        padding-right: calc(28% - 180px);
        grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr, 1fr));
        background: url("../images/content-3.png");
        background-position: bottom right;
        background-repeat:no-repeat;
        background-size: cover ;
        margin: 0;
}

.grid-container-3{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
}

.item-1{
    padding-top:20px;
    padding-bottom:20px;
    grid-column: 1/4;
}
.item-2{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 100px, 100px));
    margin: 0;
}
.item-3{
    display: grid;
    margin: 0;
}
.item-4{
    grid-column: 1/4;
}
/*--------Grid 2-----------*/


/*-------------- Content-1 start -------------*/
.text-content-1{
    min-height: 400px;
    background-image: url("../images/raw-tuna-fish-fillet-meat_74190-7247.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.textblock{
    width: 50%;
    padding-top:50px;
    margin-left: 25%;
    text-align: center;
}
/*-------------- Content-1 end -------------*/

.content-3-text{
    font-size: 20px;
}

.line3 {
    margin: 25px;
    margin-left: 0;
    position: relative;
    float: left;
    width: 15%;
    border-top: 2px solid lightgrey;
}

#menu-icon {

	display: hidden;
	width: 50px;
    height: 50px;
    margin-top:25px;
    margin-right: 50px;
    background: orange url(../images/menu-icon.png) center;
    border-radius: 50%;
}

a:hover#menu-icon {

	background-color: #000000;
    border-radius: 50%;

}

@media only screen and (max-width : 1230px) {

	header {

		position: absolute;

	}

	#menu-icon {
        float:right;
	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
}

