@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qo0ltd');
  src:  url('fonts/icomoon.eot?qo0ltd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qo0ltd') format('truetype'),
    url('fonts/icomoon.woff?qo0ltd') format('woff'),
    url('fonts/icomoon.svg?qo0ltd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  color: darkorange;
  font-weight: bold;
  content: "\e900";
}
.icon-menu1:before {
  font-size: 16px;
  float: left;
  text-align: center;
  margin-left: 25px;
  margin-right: -30px;
  content: "\e901";
}
.icon-menu:before {
  color: darkorange;
  font-weight: bold;  
  content: "\e902";
}
.icon-phone-call:before {
  content: "\e903";
}
.icon-restaurant:before {
  color: darkorange;
  content: "\e904";
}
.icon-restaurant-cutlery-circular-symbol-of-a-spoon-and-a-fork-in-a-circle:before {
  font-size: 60px;
  position: relative;
  z-index: 1;
  content: "\e905";
}
.icon-right-arrow:before {
  content: "\e906";
}