@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qo0ltd');
  src:  url('fonts/icomoon.eot?qo0ltd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qo0ltd') format('truetype'),
    url('fonts/icomoon.woff?qo0ltd') format('woff'),
    url('fonts/icomoon.svg?qo0ltd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  font-size: 20px;
  font-weight: bold;
  color: #FFC53C ;
  content: "\e900";
}
.icon-menu1:before {
  color: #FFC53C;
  font-weight: 500;
  vertical-align: middle;
  font-size: 20px;
  content: "\e901";
}
.icon-menu:before { 
  font-size: 20px;
  font-weight: bold;
  color: #FFC53C;
  content: "\e902";
}
.icon-phone-call:before {
  font-size: 20px;
  font-weight: bold;
  margin-left:8%;
  margin-right:5px;
  color: #ffffff;
  content: "\e903";
}
.icon-restaurant:before {
  color: #FFC53C;
  content: "\e904";
}
.icon-restaurant-cutlery:before {
  color: rgb(44, 44, 44);
  position: absolute;
  z-index: 1;
  margin-top: 10px;
  margin-left: calc(5.6% + 68px);
  font-size: 80px;
  content: "\e905";
}
.icon-right-arrow:before {
  color: grey;
  padding-left: 5px;
  content: "\e906";
}
@media screen and (min-width:736px) and (max-width:990px){
  .icon-restaurant-cutlery:before {
    margin-left: calc(7.7% + 30px);
    font-size: 70px;
  }
}
@media screen and (max-width:735px){
  .icon-restaurant-cutlery:before {
    margin-left: calc(15% - 15px);
    font-size: 70px;
  }
}